apscheduler
dateparser
pathos
tqdm
pymysql
mysql-connector-python
dateparser
langdetect
google-api-python-client
pycountry
elasticsearch
prometheus_client
aiomysql
tld
pygeoip
gensim
pandas
textblob
scipy
spacy
nltk
detoxify
python-Levenshtein