pathos
tqdm
nltk
scipy
pymysql
mysql-connector-python
dateparser
pandas
langdetect
textblob
google-api-python-client
pycountry
gensim
spacy
nltk
elasticsearch
prometheus_client
aiomysql
tld
apscheduler
pygeoip